#edt-wrapper {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header des jours */
#edt-jours-header {
    display: grid;
    grid-template-columns: 70px repeat(7, 1fr);
    margin-bottom: 10px;
    font-weight: bold;
}

.jour-header {
    text-align: center;
    font-size: 18px;
}

/* Grille principale */
#edt-container {
    display: grid;
    grid-template-columns: 50px repeat(7, 1fr);
    grid-template-rows: repeat(6, 90px);
    gap: 10px;
    border: 3px solid #147bbe;
    border-radius: 20px;
    padding: 10px;
}

/* Colonne des heures */
#edt-heures {
    display: contents;
}

.heure {
    grid-column: 1;
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    font-size: 14px;
    padding-top: 5px;
}

/* Colonnes des jours */
#edt-jours {
    display: contents;
}

/* Blocs des cours */
.cours {
    background: #1fa0ff;
    color: black;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 13px;
}


#edt-topbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    background: #147bbe;
    border-radius: 12px;
    margin-bottom: 20px;
}


#edt-controls {
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

#edt-controls button {
    background: white;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#view-select {
    padding: 6px 10px;
    border-radius: 5px;
}

#edt-semaine-titre {
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    font-size: 28px;
}

/* Mode jour : la date centrée */
.mode-jour #edt-jours-header {
    display: flex !important;
    justify-content: center !important;
    grid-template-columns: none !important;
}

/* Réduction globale de la section EDT */
section {
    transform-origin: top center;
    width: 100%;
}



