#edt-wrapper {
    width: 100%;
    padding: 30px;
}

/* Header des jours */
#edt-jours-header {
    display: grid;
    grid-template-columns: 70px repeat(7, 1fr);
    margin-bottom: 10px;
    font-weight: bold;
    padding-left: 30px;
    padding-right: 30px;
}

.jour-header {
    text-align: center;
    font-size: 18px;
}

/* Grille principale */
#edt-container {
    display: grid;
    grid-template-columns: 70px repeat(7, 1fr);
    grid-template-rows: repeat(6, 90px);
    gap: 10px;
    border: 3px solid #147bbe;
    border-radius: 20px;
    padding: 10px;
}

/* Colonne des heures */
#edt-heures {
    display: contents;
}

.heure {
    grid-column: 1;
    display: flex;
    align-items: flex-start;
    font-weight: bold;
    font-size: 14px;
    padding-top: 5px;
}

/* Colonnes des jours */
#edt-jours {
    display: contents;
}

/* Blocs des cours */
.cours {
    background: #1fa0ff;
    color: white;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    font-size: 13px;
}
