#titrePage{
    margin-top:50px;
    color: #147bbe;
}

h1,h2,h3{
    color:white;
}

.center { 
    text-align:center;
 }

section{
    padding:15px;
    padding-left:40px;
    padding-right:40px;
}

#projets, .majeure { 
    display:grid; 
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr)); 
    gap:24px; 
}
       
.card-majeure, .card-projet { 
    border-radius:16px; 
    padding:16px; 
    transition: transform 0.3s ease
}

.card-majeure:hover, .card-projet:hover{
    transform: translateY(-4px);
    box-shadow:  0 8px 20px rgba(0,0,0,.12), 0 12px 30px rgba(0,0,0,.15);
}

/* ---------------- Programmes ---------------- */
        
#programmes { 
    border-radius: 25px; 
    padding: 32px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 50px;
    cursor: pointer;
}

#programmes > div:nth-child(1) {
    background-color: #163666;
    color: white;
    border-radius: 25px;
}

#programmes > div:nth-child(2) {
    background-color: #38B6FF;
    color: white;
    border-radius: 25px;
}

#programmes > div {
    transition: transform 0.3s ease
}

#programmes > div:hover {
   transform: translateY(-4px);
   box-shadow: 0 8px 20px rgba(0,0,0,.12), 0 12px 30px rgba(0,0,0,.15);
}

/* ---------------- Détails Programme ---------------- */
 
#détails {
    display: flex;
    align-items: center;
    gap: 15px;
    grid-template-columns: 50% 50%;
    font-size: 20px;
    padding: 10px;
    border-radius: 25px;
    background-color: #163666; 
    color: white;
    text-align: justify;
}

#détails > div {
    flex: 1;           
    padding: 20px;
}

/* ---------------- Majeures Header ---------------- */

#titreMajeure{
    color:#163666;
}

.filter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

#filières {
    font-size: x-large;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 250px;
}

.parent {
    background-color: #163666;
    color: white;
    padding: 15px;
    border-radius: 10px;
    position: relative; 
}

.dropdown {
    list-style: none;
    padding: 0;
    display: none;
    position: absolute; 
    top: 100%; 
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 10px;
    overflow: hidden;
}

#filières .dropdown li {
    cursor: pointer;
    font-size: large;
    padding: 10px 15px;
    background-color: rgba(240, 240, 240, 0.750);
    color: #163666;
    margin: 0; 
}

.parent:hover .dropdown {
    display: block;
}

.dropdown li:hover {
    background-color: rgba(240, 240, 240, 0.750);
    color:black;
}

#filières .parent {
    pointer-events: auto;
}

#filières .dropdown li {
    pointer-events: auto;
}

/* ---------------- Majeures Stats Section ---------------- */

#statsSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 20px;
}

.stat {
    color: #FE45B8;
    text-align: center;

}

.stat span {
    display: block;
    font-size: 2rem;
    font-weight: bold;
}

/* ---------------- Majeures Body ---------------- */

#majeures .body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card-majeure {
    background-color: #163666;
    color:white; 
    border-radius: 16px;
    flex-direction: column;
    justify-content: flex-start;
}

.card-majeure .header {
    padding-left:15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-majeure .header > h2{
    padding-left: 15px;
}

.descriptionMajeure {
    margin:15px;
}

.section {
    flex: 1; 
}

.section h2{
    color:#FE45B8;
}

button {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 100%;
    border: 2px solid transparent;
    transition: 0.3s ease;
    cursor: pointer;
}

button:hover {
    background-color: #163666;
    color: white;
    border-color: white;
}

.descriptionMajeure {
    font-size: larger;
    text-align: justify;
}

.debouchesMajeure {
    padding: 15px;
    margin-top: 10px; 
    font-size: small;
    font-style: italic;
}

/* ---------------- Autres Infos Section ---------------- */

.dropdown-content {
    display: none;
    margin-left: 20px;
    list-style-type: disc;
}

.dropdown-parent {
    cursor: pointer;
}

.dropdown-parent.active > .dropdown-content {
    display: block;
}

/* ---------------- Projets Etudiants ---------------- */

#projetsEtudiants{
    background-color: #163666;
    margin-top: 20px;
}

.card-projet{
    background-color: white;
    text-align: center;
    margin-bottom: 20px;
}


/* ---------------- Media Queries ---------------- */

@media (max-width: 1024px) {
    #détails > div { flex: 1 1 100%; }
    #projets, .majeure { grid-template-columns: repeat(auto-fit,minmax(180px,1fr)); }
    .card-majeure, .card-projet { padding:12px; }
    .card-projet img {
        max-width: 75%;
        max-height:auto;
    }
}