/* ---------------- Accueil ---------------- */
.part1 {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    padding: 50px;
}

.pro_cours_images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 50px;
}

.pro_cours_images img {
    width: 100%;
    border-radius: 15px;
}

.box {
    height: 600px;
    width: 100%;
    
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.img1 {
    border-radius: 0px 50px;
    background-image: url("../../img/img1.jpg");
}

.img2 {
    border-radius: 50px;
    background-image: url("../../img/img2.jpg");
}

.img3 {
    border-radius: 50px;
    background-image: url("../../img/img3.jpg");
}

.img4 {
    border-radius: 50px 0px;
    background-image: url("../../img/img4.jpg");
}

.pro_cours_text {
    height:500px;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    overflow-y: scroll;
}

.les_cours {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding: 20px;
}

.part2 {
    text-align: center;
    border: 5px solid black;
    border-radius: 25px;

    margin: 50px;
}

.Nos_equipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;

    text-align: center;
}

.Nos_equipes a {
    color: black;
}

.part3 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    border: 5px solid black;
    margin: 50px;
    border-radius: 25px;
}

.part3_text {
    text-align: left;
    margin: 20px;
}

.part3_text h1 {
    color: #147bbe;
    padding: 10px;
    border-bottom: 2px solid gray;
}

.part3_text button {
    font-size: 20px;
    background-color: #147bbe;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}


/*Partie sur les cours */
/* Bloc d'un cours */
.coursItem {
    text-align: left;
    margin: 10px 0;
    padding: 8px;
    border-radius: 6px;
}

/* Titres + valeurs */
.label {
    font-weight: bold;
    color: #147bbe;
}

.value {
    color: black;
}

.salle {
    color: red;
}

.groupe {
    color: #F88F52 ;
}

.prof {
    color: #4A919E  ;
}

.heureMini {
    margin-top: 4px;
    font-weight: bold;
    color: #1C5588;
}
