/* ---------------- Accueil ---------------- */
.part1 {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    padding: 50px;
    margin: 25px;
    gap: 20px;
}

.pro_cours_images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 50px;
}

.pro_cours_images img {
    width: 100%;
    border-radius: 15px;
}
.img1 {
    border-radius: 0px 50px;
    background-image: url("../../img/img1.jpg");
}

.img2 {
    border-radius: 50px;
    background-image: url("../../img/img2.jpg");
}

.img3 {
    border-radius: 50px;
    background-image: url("../../img/img3.jpg");
}

.img4 {
    border-radius: 50px 0px;
    background-image: url("../../img/img4.jpg");
}

/* --- Carousel styles --- */
.carousel{
    display:flex;
    align-items:center;
    gap:12px;
    justify-content:center;
    padding:30px;
    height: 100%;
}

.carousel__track-container{
    overflow:hidden;
    border: none;
    border-radius:12px;
    /* width:1020px; */
}

.carousel__track{
    display:flex;
    list-style:none;
    padding:0;
    margin:0;
    transition:transform 0.5s ease;
}

.carousel__slide{
    min-width:360px;
    height:700px;
    margin:0 10px;
    background-size:cover;
    background-position:center;
    border-radius:12px;
    box-shadow:0 10px 24px rgba(0,0,0,0.18);
    flex:0 0 auto;
}

.carousel__btn{
    background:#147bbe;
    color:#fff;
    border:0;
    border-radius:6px;
    padding:8px 12px;
    font-size:22px;
    cursor:pointer;
}

.carousel__btn:focus{
    outline:2px solid #ffd54a;
}

@media (max-width:900px){
    .carousel__track-container{width:90vw}
    .carousel__slide{min-width:70vw;height:36vh}
}

.pro_cours_text {
    height:500px;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    overflow-y: scroll; /* Vertical scroll */
}

.les_cours {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    padding: 20px;
}

.part2 {
    text-align: center;
    border: 5px solid black;
    border-radius: 25px;

    margin: 50px;
}

.Nos_equipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 50px;

    text-align: center;
}

.Nos_equipes a {
    color: black;
    font-weight: bold;
}

.Nos_equipes a:hover {
    color: #147bbe;
}

.Nos_equipes img:hover {
    transform: scale(1.25);
    transition: transform 0.3s;
}

.part3 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 500px;

    border: 5px solid black;
    margin: 50px;
    border-radius: 25px;
}

.part3_text {
    text-align: left;
    margin: 20px;
}

.part3_text h1 {
    color: #147bbe;
    padding: 10px;
    border-bottom: 2px solid gray;
}

.part3_text p {
    padding: 10px;
}

.part3_text button {
    font-size: 20px;
    background-color: #147bbe;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.part3_text button:hover {
    background-color: #0f5d85;
}

.part3_img {
    background-image: url("../../img/img1.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 5px 25px 25px 5px;
    height: 100%;
}