/* ---------------- Nav bar styles ---------------- */
nav{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    margin-right: 20px;
}

header {
    padding: 15px;
    border-bottom: 2px solid #e7e7e7;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

.nav-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
}

.nav-links a {
    color: black;
    padding: 15px;
    text-decoration: none;
}

.nav-links a:hover {
    background-color: #147bbe;
    border-radius: 25px;
}

#selected {
    color: white;
    background-color: #147bbe;
    border-radius: 25px;
    pointer-events: none;
    cursor: default;
}

/* ---------------- footer styles ---------------- */

footer {
    margin: 0px;
    text-align: center;
    background-color: #147bbe;
    color: white;
    padding: 20px;
}

footer a {
    color: white;
}

.footer-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding-top: 20px;
}

.footer-contacts {
    padding: 10px;
    text-align: left;
}

.links {
    padding-top: 50px;
}

.links ul {
    text-align: left;
    list-style-type: none;
    padding: 0px;
}

/* ---------------- body styles Universal ---------------- */
@font-face {
  font-family: myFont; /* set name */
  src: url(../font/Coolvetica\ Rg.otf);
}

*{
    font-family: myFont;
}
body {
    margin: 0px;
}

a {
    text-decoration: none;
}

/* ---------------- Accueil ---------------- */
.part1 {
    display: grid;
    grid-template-columns: 80% 20%;
    align-items: center;
    padding: 50px;
}

.pro_cours_images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 50px;
}

.pro_cours_images img {
    width: 100%;
    border-radius: 15px;
}

.box {
    height: 600px;
    width: 100%;
    
    background-position: center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}

.img1 {
    border-radius: 0px 50px;
    background-image: url("../img/img1.jpg");
}

.img2 {
    border-radius: 50px;
    background-image: url("../img/img2.jpg");
}

.img3 {
    border-radius: 50px;
    background-image: url("../img/img3.jpg");
}

.img4 {
    border-radius: 50px 0px;
    background-image: url("../img/img4.jpg");
}

.pro_cours_text {
    height:500px;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    overflow-y: scroll; /* Vertical scroll */
}

.les_cours {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    padding: 20px;
}

.part2 {
    text-align: center;
    border: 5px solid black;
    border-radius: 25px;

    margin: 50px;
}

.Nos_equipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    padding: 50px;

    text-align: center;
}

.Nos_equipes a {
    color: black;
}

.part3 {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    border: 5px solid black;
    margin: 50px;
    border-radius: 25px;
}

.part3_text {
    text-align: left;
    margin: 20px;
}

.part3_text h1 {
    color: #147bbe;
    padding: 10px;
    border-bottom: 2px solid gray;
}

.part3_text button {
    font-size: 20px;
    background-color: #147bbe;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
}

.part3_img {
    background-image: url("../img/img1.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 5px 25px 25px 5px;
    height: 100%;
}