.center{
    text-align: center;
}

.separator {
    border: none;
    height: 1px;
    background-color: #ccc;
    width: 80%;
}

.titreClassique{
    padding-left : 40px;
    color: #147bbe;
}

#biographie, #descriptionDomaine{
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 20px;
    color: black;
    align-self: center;
    padding: 15px;
}

#biographie p, #descriptionDomaine p{
    padding-left: 25px;
    padding-right: 25px;
    line-height: 1.8; 
}

/* ---------------- Sélection de l'équipe ---------------- */

.Nos_equipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.Nos_equipes img{
    width: 150px;
    height: auto;
}

.Nos_equipes div{
    padding: 40px;
    font-size: large;
    transition: transform 0.25s ease-out;
}

.Nos_equipes div:hover{
    transform: scale(1.25);
}

.Nos_equipes .equipe.selected {
    font-weight: bold;
}

/* ---------------- Domaine d'expertise ---------------- */

#domaine{
    position: relative;
    overflow: hidden;
}

#titreDomaine{
    display: inline-block;
    border-radius: 50px;
    padding: 10px;
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    color:white;
    background-color: #147bbe;
}

#descriptionDomaine{
    height: 450px;
}

#logoDomaine {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background-image: url("../../img/départements/iaLogo.png"); 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;       
    pointer-events: none;  
    z-index: 0;       
}

/* ---------------- Membres de l'équipe ---------------- */

#dedicace { 
    height: 400px;
    text-align: center;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    text-align: center;
    background-image: url("../../img/background_dedicace.jpg");
    background-size: cover;
}

#dedicace #légende {
    width: 500px;
    height: 300px;
    padding: 40px;
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imageEquipe {
    opacity: 0.85;
    margin:25px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
}

button{
    margin-top:  175px;
    margin-left: 50px;
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 100%;
    border:none;
}

button:hover{
    background-color: rgb(255, 255, 255);
}

/* ---------------- Qui sommes-nous ? ---------------- */

#titreQui{
    padding-top: 40px;
}

#biographie {
    height:250px;
}

/* ---------------- Projets ---------------- */

#projetsDépartement{
    background-color: #147bbe;
}

#titreProjets{
    color:white;
    padding-top:50px;
}

.projets{
    padding:30px; 
    display:grid; 
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr)); 
    gap:24px; 
}
      
.card { 
    background-color: white;
    border-radius:16px; 
    padding:16px; 
    box-shadow:0 4px 10px rgba(0,0,0,.06); 
}
