/* ---------------- Accueil ---------------- */
.part1 {
    text-align: center;
}

.title {
    padding: 10px;
    margin: 10px;
    border-bottom: 1px solid gray;
}

.Nos_equipes {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    margin-bottom: 25px;
}

.Nos_equipes div{
    font-size: large;
    margin-bottom: 10px;
    transition: transform 0.25s ease-out;
}

.Nos_equipes .equipe.selected {
    font-weight: bold;
}

.Nos_equipes div:hover{
    transform: scale(1.25);
}

#dedicace { 
    background-color: #4c4744;
    text-align: center;
    display: grid;
    grid-template-columns: 10% 40% 40% 10%;
    text-align: center;
    background-image: url("../../img/background_dedicace.jpg");
    background-size: cover;
    image-rendering: auto;
}

#dedicace .description {
    width: 500px;
    height: 300px;
    padding: 40px;
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#imageEquipe {
    opacity: 0.85;
    margin:25px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
}

button{
    margin-top:  225px;
    margin-left: 50px;
    height: 50px;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 100%;
    border:none;
}

button:hover{
    background-color: rgb(255, 255, 255);
}

#quiSuissJe {
    padding: 20px;
}

#profilDescription {
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 20px;
    color: black;
    align-self: center;
    padding: 15px;
}

#profilDescription img {
    width: 100%;
}

.split-columns {
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 15px;
}

.split-rows {
    display: grid;
    grid-template-rows: 50% 50%;
    padding: 15px;
}